Package: bds-install
Version: 1.0.1
Priority:
Architecture: amd64
Depends: screen, unzip, dos2unix, jq, zip, unzip, net-tools
Installed-Size: 100kb
Maintainer: Matheus Sampaio Queiroga (Sirherobrine23)
Description: instalador do BDS com sistemas compativeis
