Package: bds-install
Version: 0.6
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Depends: screen, unzip, dos2unix, jq, zip, unzip, net-tools
Maintainer: Matheus Sampaio Queiroga (Sirherobrine23) <srherobrine20@gmail.com>
Description: Pequeno script para a instalação do Minecraft Bedrock Server
